@font-face {
    font-family: 'Nunito Sans'; 
    src: url('../fonts/NunitoSans.ttf');
}

@font-face {
    font-family: 'Yeseva One'; 
    src: url('../fonts/YesevaOne.ttf');
}

@media (max-width: 375px) {
    body { 
        display: none;
    }
}


@media (max-width: 1299px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
    }
    
    .yeseva-one {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
    }
    
    body {
        background-color: #252525;
    }

    .header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 57px;
        background: #131313;
        z-index: 1;
    }

    .footer {
        display: none;
    }

    .header_text {
        font-size: 11px;
        text-align: left;
        color: #FFFFFF;
    }

    ul#menu a {
        text-decoration: none;
    }
    
    ul#menu {
        position: absolute;
        top: 50%;
        margin-top: -7.5px;
        height: 15px;
        left: 18px;
        width: calc(100% - 36px);
    }

    ul#menu li {
        display: inline-block;
    }

    #menu>:nth-child(1) {
        color: #E3B873; 
        text-transform: uppercase;
        position: absolute;
        left: 0; 
    } 

    #menu>:nth-child(2) {
        display: none;
    } 

    #menu>:nth-child(3) {
        display: none;
    } 

    #menu>:nth-child(4) {
        display: none;
    } 

    #menu>:nth-child(5) {
        display: none;
    } 

    #menu>:nth-child(6) {
        display: none;
    } 

    #menu>:nth-child(7) {
        display: none;
    } 

    #menu>:nth-child(8) {
        text-decoration-line: underline; 
        color: #E3B873; 
        position: absolute;
        right: 0;
    } 

    #menu>:nth-child(9) {
        display: none;
    } 

    .home_button {
        width: 338.61px;
        height: 51px;
        font-size: 11px;
        font-style: italic;
    }

    .gold_button {
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;

        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border: none;
        -webkit-border-radius: 2px;
    }

    .gold_box {  
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;

        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border: none;  
    }

    .transparent_button-1 {
        display: none;
    }

    .transparent_button-2 {
        background: transparent; 
        border: 1px solid #FFFFFF;
        margin-top: 28px;
    }

    .home {
        position: absolute;
        top: 57px;
        width: 100%;
        height: 476px;
        background: url('../img/Group 7.png');
        z-index: -1;
        background-position: center center;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .background_overlay {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        z-index: -1;
    }

    .home_section{
        position: absolute;
        width: 339px;
        height: 330px;
        top: 85px;
        left: 50%;
        margin-left: -169.5px;
    }

    .home_title {
        font-size: 23px;
        line-height: 31px;
        text-transform: uppercase;
        
        color: #FFFFFF;
    }

    .home_text-1 {
        display: none;
    }

    .home_text-2 {
        font-size: 14px;
        line-height: 19px;
        margin: 14px 0 50px 0;

        color: #FFFFFF;
    }

    .projects{
        position: absolute;
        width: 100%;
        height: 1636px;
        top: 533px;
    }

    .projects_background {
        display: none;
    }

    .section-title {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .online-control-title {
        position: absolute;
        width: 224px;
        top: 727px;
        left: 50%;
        margin-left: -112px;  
        color: #FFFFFF;   
    }

    .online-control-logo {
        position: absolute;
        top: 772.79px;
        width: 114px;
        height: 28px;
        left: 50%;
        margin-left: -57px;
    }

    .online-control-video {
        position: absolute;
        top: 841px;
        width: 340px;
        height: 207px;
        left: 50%;
        margin-left: -170px;
    }

    .online-control-play {
        position: absolute;
        top: 926px;
        width: 37px;
        height: 37px;
        left: 50%;
        margin-left: -18.5px;
        border: none;
        background-color: transparent;
        background-image: url("../img/Group 8.7.png");
    }

    .projects_completed {
        position: absolute;
        width: 375px;
        height: 727px;
        left: 50%;
        top: 0;  
        margin-left: -187.5px;
    }

    .projects_completed_image-1 {
        display: none;
    }

    .projects_completed_image-2 {
        position: absolute;
        top: 246px;
        left: 18px;
        width: 340px;
        height: 241.55px;
    }

    .button-next {            
        width: 36px;
        height: 36px;  
        border: none;
        background-color: transparent;
        background-image: url("../img/Group 8.8.svg");
    }

    .projects_completed_image_button-left {
        left: 32px;
        position: absolute;
        top: 349px;
    }

    .projects_completed_image_button-right {
        left: 309px;
        top: 349px;
        position: absolute;
        -webkit-transform: rotate(180deg);
    }

    .projects_completed_bar {
        display: none;
    }

    .projects_completed_variants {
        display: none;
    }

    .projects_completed_intro {
        position: absolute;
        width: 311px;
        height: 174px;
        text-align: center;
        left: 32px;
        top: 36px;   
    }

    .projects_completed_intro_title {
        font-size: 22px; 
        line-height: 30px;
        color: #E3B873;
    }

    .projects_completed_intro_text-1 {
        display: none;
    }

    .projects_completed_intro_text-2 {
        font-size: 11px; 
        line-height: 17px;
        margin-top: 28px;
        color: #FFFFFF;
    }

    .completed-projects {
        position: absolute;
        top: 488px;
        left: -15px;
        width: 342px;
        height: 145px;
        text-align: left;
        align-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;

        font-size: 11px;
        line-height: 18px;
        color: #FFFFFF;
    }

    .completed-projects>:nth-child(n) {
        width: 160px;
        height: 68px;
        white-space: nowrap;
    }

    .completed-projects>:nth-child(3) {
        width: 160px;
        height: 44px;
    }

    .completed-projects>:nth-child(4) {
        width: 180px;
        height: 44px;
    }

    .completed-projects_title {
        font-size: 18px;
        line-height: 25px;
        color: #E3B873;
    }

    .online-control-text-1 {
        display: none;
    }

    .online-control-text-2 {
        position: absolute;
        width: 340px;
        height: 106.95px;
        top: 1099px;
        left: 50%;
        margin-left: -170px;

        font-size: 11px;
        line-height: 19px;
        text-align: center;
        
        color: #FFFFFF;
    }

    .request-for-link {
        position: absolute;
        width: 340px;
        height: 311px;
        left: 50%;
        margin-left: -170px;
        top: 1267px;
    }

    .request-for-link_name {
        position: absolute;
        width: 340px;
        height: 44px;
        left: 0;
        top: 0;
        border-bottom: 1px solid #FFFFFF;
    }

    .request-for-link_label {
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);

        position: absolute;
        top: 0;
        left:0;
    }

    .request-for-link_input {
        position: absolute;
        width: 340px;
        height: 17px;
        top: 19px;
        left: 0;

        border: none;
        outline: none;
        font-size: 14px;
        line-height: 19px;
        background-color: transparent;
        
        color: #FFFFFF;
    }

    .request-for-link_input::placeholder {
        color: #FFFFFF;
    }

    .request-for-link_phone {
        top: 114px;
    }

    .request-for-link_button {
        font-size: 13px;
        line-height: 27px; 
        font-style: normal;
        width: 340px;
        height: 51px;

        position: absolute;
        bottom: 0;
    }

    .request-for-link_agreement{
        position: absolute;
        left: 50%;
        width: 285.6px;
        height: 18px;
        margin-left: -142.8px;
        top: 179.57px;
    }

    .request-for-link_agreement-label{
        width: 259px;
        height: 16.2px;
        left: 26.62px;
        top: 0;
        white-space: nowrap;
    }

    .request-for-link_agreement-checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background: #E3B873;
        border: none;
        color: #fff;
        outline: none;
        -webkit-border-radius: 2px;
    }

    .request-for-link_agreement-checkbox:checked::before {
        height: 18px;
        width: 18px;
        position: absolute;
        content: '✓';
        text-align: center;
    }

    .gold-line {
        position: absolute;
        width: 55px;
        height: 1.54px;
        top: 1076px;
        left: 50%;
        margin-left: -27.5px;
        background-color: #E3B873;
    }

    .measurement {
        position: absolute;
        top: 2086px;
        width: 100%;
        height: 2030px; 
        background-color: #FFFFFF;
        z-index: -1;
    }

    .measurement_title {
        position: absolute;
        width: 224px;
        top: 83px;
        left: 50%;
        margin-left: -112px;  
        color: #181818;   
    }

    .measurement_logo {
        position: absolute;
        width: 114px;
        height: 28px;
        top: 126px;
        left: 50%;
        margin-left: -57px;
    }

    .measurement_types-of-repair {
        position: absolute;
        width: 340px;
        height: 1570px;
        top: 194px;
        left: 50%;
        margin-left: -170px;
    }

    .flex{ 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .measurement_types-of-repair_image_flex {
        width: 340px;
        height: 1451.15px;   
        position: absolute;
        left: 0;
        top: 0;
    }

    .measurement_types-of-repair_text_flex {
        width: 270px;
        height: 1327px;   
        position: absolute;
        left: 0;
        top: 223px;
    }

    .measurement_types-of-repair_price_flex {
        width: 190px;
        height: 1126px;   
        position: absolute;
        left: 0;
        top: 444px;
    }

    .measurement_types-of-repair_image{
        width: 340px;
        height: 365.15px;
    }

    .measurement_types-of-repair_text{
        width: 270px;
        height: 241px;
        margin-right: 70px;

        background: #FFFFFF;
    }

    .measurement_types-of-repair_price {
        width: 190.43px;
        height: 40px;

        padding: 0;
        font-size: 15px;
        line-height: 40px;
        white-space: nowrap;
    }

    .measurement_types-of-repair_text_bold {
        font-size: 15px;
        line-height: 21px;
        margin-left: 31px;
        position: relative;
        top: 21px;
        
        color: #363636;
    }

    .measurement_types-of-repair_text_regular {
        font-size: 13px;
        line-height: 22px;
        margin-left: 31px;
        color: #959595;

        position: relative;
        top: 31px;
    }

    .request-for-measurement {
        display: none;
    }

    .realize-fantasies {
        position: absolute;
        top: 1819px;
        width: 340px;
        height: 332px;
        left: 50%;
        margin-left: -170px;
    } 

    .realize-fantasies_background {
        display: none;
    }

    .realize-fantasies_images {
        display: none;
    }

    .realize-fantasies_types {
        display: none;
    }

    .realize-fantasies_title {
        position: absolute;
        width: 100%;
        height: 66px;
        top: 0;
        left: 0;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        
        color: #E3B873;
    }

    .realize-fantasies_image-for-mobile {
        position: absolute;
        width: 100%;
        height: 242px;
        top: 90px;
        left: 0;
    }

    .realize-fantasies_image_button-left {
        left: 14px;
        position: absolute;
        top: 193px;
    }

    .realize-fantasies_image_button-right {
        left: 291px;
        position: absolute;
        top: 193px;
        -webkit-transform: rotate(180deg);
    }

    .design-project_sizes_images_flex {
        width: 340px;
        height: 1388.15px;   
        position: absolute;
        left: 0;
        top: 0;
    }

    .design-project_sizes_text_flex {
        width: 270px;
        height: 1264px;   
        position: absolute;
        left: 0;
        top: 223px;
    }
    
    .design-project_sizes_text_flex>:nth-child(1) {
        height: 177px;
    }

    .design-project_sizes_text_flex>:nth-child(2) {
        height: 241px;
    }

    .design-project_sizes_text_flex>:nth-child(3) {
        height: 241px;
    }

    .design-project_sizes_image {
        width: 340px;
        height: 365.15px;
    }
    
    .design-project_sizes_text_regular_desktop {
        display: none;
    }

    .design-project {
        position: absolute;
        top: 4116px;
        width: 100%;
        height: 1964px;
        z-index: -2;
    }


    .design-project_logo {
        position: absolute;
        width: 114px;
        height: 28px;
        top: 214.89px;
        left: 50%;
        margin-left: -57px;
    }

    .design-project_title {
        position: absolute;
        width: 224px;
        top: 173px;
        left: 50%;
        margin-left: -112px;  
        color: #FFFFFF;   
    }
    
    .design-project_text-desktop {
        display: none;
    }

    .design-project_text-mobile {
        position: absolute;
        width: 334px;
        height: 76px;
        top: 266px;
        left: 50%;
        margin-left: -167px;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
    
        color: #FFFFFF;
    }
    
    .design-project_sizes{
        top: 381px;
        height: 1507px;
    }
    
    .design-project_sizes_size_flex {
        width: 190.43px;
        height: 1127px;   
        position: absolute;
        left: 0;
        top: 380px;
    }

    .design-project_sizes_size-number{
        width: 146.22px;
        height: 40px;
    
        padding: 0;
        font-size: 15px;
        text-align: start;
        padding-left: 44.21px;
        line-height: 40px;
        white-space: nowrap;
    }
    
    .design-project_background{
        display: none;
    }
    
    .working-process {
        display: none;
    }
  
    .our-team {
        position: absolute;
        width: 340px;
        height: 1705px;
        left: 50%;
        margin-left: -170px;
        top: 1964px;
    }
    
    .our-team_title {
        position: absolute;
        width: 340px;
        height: 26px;
        left: 0;
        
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
    
        color: #FFFFFF;
    
    }
    
    .our-team_logo {
        position: absolute;
        width: 114px;
        height: 29px;
        left: 50%;
        top: 38.53px;
        margin-left: -57px;
    }
    
    .our-team_text-1 {
        position: absolute;
        width: 340px;
        height: 42px;
        left: 0;
        top: 91px;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        
        color: #FFFFFF;
    }
    
    .our-team_text-2 {
        display: none;
    }

    .our-team_members {
        position: absolute;
        width: 340px;
        height: 1475px;
        top: 154px;
    }

    .our-team_members_images_flex {
        width: 304px;
        height: 1363.63px;
        position: absolute;
        left: 35px;
        top: 55px;
    }

    .our-team_members_image {
        width: 100%;
        height: 357.63px;
        object-fit: cover;
        
    }
    
    .our-team_members_logo {
        width: 70px;
        height: 70px;
    }

    .our-team_members_logo_flex {
        width: 70px;
        height: 1096px;   
        position: absolute;
        left: 0;
        top: 0;
    }

    .our-team_members_text_flex {
        width: 233px;
        height: 1143px;
        position: absolute;
        left: 66px;
        top: 332px;
        /*top: 294px;*/
    }
    
    .our-team_members_text{
        width: 233px;
        height: 137px;
        background: #FFFFFF;
    }
    
    .our-team_members_text_bold {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        width: 192px;
        height: 21px;
    
        color: #181818;
        margin: 22px 21px 19px 20px;
    }
    
    .our-team_members_text_regular {
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        margin: 0 23px;
        width: 187px;
        height: 17px;
        
        color: #959595;
    }
    
    .our-team_members_experience{
        width: 233px;
        height: 31px;
    
        position: relative;
        top: 15px;
        padding: 13px 0 0 0;
    
        font-size: 13px;
        line-height: 20px;
    
        color: #FFFFFF;
    }
    
    .our-clients {
        width: 100%;
        position: absolute;
        top: 3669px;
        height: 1011px;
    }

    .our-clients_background {
        display: none;
    }

    .our-clients_reviews {
        display: none;
    }
    
    .map {
        position: absolute;
        left: 50%;
        margin-left: -170px;
        bottom: 213px;
    
        width: 340px;
        height: 255px;
    }
    
    .contact-form {
        position: absolute;
        left: 50%;
        margin-left: -170px;
        bottom: 506px;
    
        width: 340px;
        height: 497px;
    }

    .contacts-desktop {
        display: none;
    }
    
    .contacts-mobile {
        position: absolute;
        left: 50%;
        margin-left: -170px;
        bottom: 38px;
    
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        
        color: #E3B873;
    
        width: 340px;
        height: 133.21px;
    }
    
    .contacts-mobile>:nth-child(2) {
        margin-top: 26px;
        margin-right: 15px;
    }
    
    .contact-form_title {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        
        color: #FFFFFF;
    
        position: absolute;
        top: 8px;
        left: 0;
        width: 340px;
        height: 26px;
    }
    
    .contact-form_input {
        width: 340px;
        height: 261.04px;
    
        position: absolute;
        top: 86px;
        left: 0;
    
        display: inline-flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    
    .contact-form_input_box {
        width: 340px;
        height: 45px;
        border-bottom: 1px solid #A29393;
    }
    
    .contact-form_agreement {
        position: absolute;
        top: 368.67px;
    }
    
    .contact-form_button {
        font-size: 13px;
        line-height: 27px;
    
        position: absolute;
        top: 446px;
        padding: 0;
        width: 340px;
        height: 51px;
        text-transform: uppercase;
    }

    .request-for-measurement_form_label {
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
        position: relative;
    }

    .request-for-measurement_form_text {
        position: relative;
        border: none;
        outline: none;
        font-size: 14px;
        line-height: 23px;
        background-color: transparent;
        
        color: #FFFFFF;
    }

    .request-for-measurement_form_text::placeholder {
        color: #FFFFFF;
    }

}


@media (min-width: 1299px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
    }
    
    .yeseva-one {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
    }
    
    body {
        background-color: #FFFFFF;
    }

    .header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 83px;
        background: #131313;
        z-index: 1;
    }

    .footer {
        position: absolute;
        top: 10017.42px;
        width: 100%;
        height: 133px;
        background: #131313;
    }

    .header_text {
        font-size: 11px;
        text-align: left;
        color: #FFFFFF;
    }

    ul#menu a {
        text-decoration: none;
    }
    
    ul#menu {
        position: absolute;
        top: 50%;
        margin-top: -20.5px;
        left: 50%;
        margin-left: -628px;
        width: 1256px;
    }

    ul#menu li {
        display: inline-block;
    }

    #menu>:nth-child(1) {
        color: #E3B873; 
        text-transform: uppercase; 
        margin-right: 117.5px;
    } 

    #menu>:nth-child(2) {
        color: #E3B873; 
        margin-right: 50.5px;
    } 

    #menu>:nth-child(3) {
        margin-right: 47.5px;
    } 

    #menu>:nth-child(4) {
        margin-right: 54.5px;
    } 

    #menu>:nth-child(5) {
        margin-right: 47.5px;
    } 

    #menu>:nth-child(6) {
        margin-right: 46.5px;
    } 

    #menu>:nth-child(7) {
        margin-right: 96.5px;
    } 

    #menu>:nth-child(8) {
        text-decoration-line: underline; 
        color: #E3B873; 
        margin-right: 41px;
    } 

    .header_button {
        width: 161px;
        height: 37px;
        font-size: 11px;
        font-style: italic;
    }

    .home_button {
        width: 207px;
        height: 51px;
        font-size: 11px;
    }

    .gold_button {
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;

        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border: none;
        -webkit-border-radius: 2px;
    }

    .gold_box {  
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;

        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border: none;  
    }

    .transparent_button-1 {
        background: transparent; 
        border: 1px solid #FFFFFF;
        margin-left: 20px;
    }

    .transparent_button-2 {
        display: none;
    }

    .home {
        position: absolute;
        top: 83px;
        width: 100%;
        height: 707px;
        background: url('../img/Group 7.png');
        z-index: -1;
        background-position: center center;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .background_overlay {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        z-index: -1;
    }

    .home_section{
        position: absolute;
        width: 676px;
        height: 305px;
        top: 194px;
        left: 50%;
        margin-left: -586px;
        white-space: nowrap;
    }

    .projects{
        position: absolute;
        width: 100%;
        height: 1289px;
        top: 790px;
    }

    .projects_background {
        object-fit: fill;
        width: 100%;
        height: 100%;
    }

    .section-title {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
    }

    .online-control-title {
        position: absolute;
        top: 750px;
        width: 196px;
        left: 50%;
        margin-left: -97.5px;  
        color: #FFFFFF;   
    }

    .online-control-logo {
        position: absolute;
        top: 788.79px;
        width: 114px;
        height: 28px;
        left: 50%;
        margin-left: -57px;
    }

    .online-control-video {
        position: absolute;
        top: 834px;
        width: 817px;
        height: 434px;
        left: 50%;
        margin-left: -408.5px;
    }

    .online-control-play {
        position: absolute;
        top: 1022px;
        width: 85px;
        height: 85px;
        left: 50%;
        margin-left: -42.5px;
        border: none;
        background-color: transparent;
        background-image: url("../img/Group 8.png");
    }

    .home_title {
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;
        
        color: #FFFFFF;
    }

    .home_text-1 {
        font-size: 22px;
        line-height: 36px;
        margin: 20px 0;

        color: #FFFFFF;
    }

    .home_text-2 {
        display: none;
    }

    .projects_completed {
        position: absolute;
        width: 1171px;
        height: 552.28px;
        left: 134px;
        top: 107px;  
        left: 50%;
        margin-left: -585px;

    }

    .projects_completed_image-1 {
        position: absolute;
        top: 69px;
        left: 492px;
        width: 679px;
        height: 482.38px;
    }

    .projects_completed_image-2 {
        display: none;
    }

    .projects_completed_bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 205.7px;
        height: 13.3px;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .projects_completed_bar_pointer-right {
        -webkit-transform: rotate(180deg);
    }

    .button_pointer {
        width: 41.46px;
        height: 13.28px;  
        border: none;
        background-color: transparent;
        background-image: url("../img/pointer.svg");
    }

    #projects_completed_bar_circle {
        color: #5A5A5A;
        line-height: 13.28px;
        width: 63.78px;
        display: inline-flex;
        justify-content: space-between;
    }

    #projects_completed_bar_circle li{
        width: 9.57px;
        height: 9.57px;
        list-style-type: none;
    }

    #projects_completed_bar_circle>:nth-child(1) {
        color: #FFFFFF;
    }

    .projects_completed_variants {
        position: absolute;
        width: 630px;
        height: 24px;
        left: 492px;
        top: 0;
        white-space: nowrap;
    }

    .projects_completed_variants_text:hover {
        color: #E3B873; 
        text-decoration-line: underline;
    }

    .projects_completed_variants>:nth-child(2) {
        margin: 0 60.5px;
    }

    .projects_completed_variants_text {
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;

        color: rgba(255, 255, 255, 0.3);
    }

    .projects_completed_intro {
        position: absolute;
        width: 442px;
        height: 390px;
        left: 0;
        top: 69px;   
    }

    .projects_completed_intro_title {
        font-size: 27px; 
        line-height: 37px;
        color: #E3B873;
    }

    .projects_completed_intro_text-1 {
        font-size: 14px; 
        line-height: 27px;
        margin-top: 34px;

        color: #FFFFFF;
    }

    .projects_completed_intro_text-2 {
        display: none;
    }

    .completed-projects {
        position: absolute;
        top: 227.64px;
        left: 0;
        width: 368px;
        height: 162px;
        align-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;

        font-size: 13px;
        line-height: 21px;
        color: #FFFFFF;
    }

    .completed-projects>:nth-child(n) {
        width: 180px;
        height: 73px;
    }

    .completed-projects>:nth-child(3) {
        width: 180px;
        height: 55px;
    }

    .completed-projects>:nth-child(4) {
        width: 180px;
        height: 55px;
    }

    .completed-projects_title {
        font-size: 18px;
        line-height: 25px;
        color: #E3B873;
    }

    .online-control-text-1 {
        position: absolute;
        width: 681px;
        height: 130.91px;
        top: 1380px;
        left: 50%;
        margin-left: -340.5px;

        font-size: 18px;
        line-height: 37px;
        text-align: center;

        color: #363636;
    }

    .online-control-text-2 {
        display: none;
    }

    .request-for-link {
        position: absolute;
        width: 769px;
        height: 51px;
        left: 50%;
        margin-left: -384.5px;
        top: 1602.9px;
    }

    .request-for-link_name {
        position: absolute;
        width: 289px;
        height: 44.9px;
        left: 0;
        top: 2px;
    }

    .request-for-link_name:before {
        content : "";
        position: absolute;
        left    : 0;
        bottom  : 0;
        height  : 1px;
        width   : 231px;  
        border-bottom: 1px solid #c3c3c3;
    }

    .request-for-link_label {
        font-size: 13px;
        line-height: 21px;
        color: rgba(54, 54, 54, 0.5);

        position: absolute;
        top: 0;
        left:0;
    }

    .request-for-link_input {
        position: absolute;
        width: 137.4px;
        height: 17px;
        top: 18.9px;
        left: 0;

        border: none;
        outline: none;
        font-size: 14px;
        line-height: 23px;
        
        color: #363636;
    }

    .request-for-link_input::placeholder {
        color: #363636;
    }

    .request-for-link_phone {
        left: 289px;
    }

    .request-for-link_button {
        font-size: 13px;
        line-height: 27px;
        padding: 12px 75px;  
        font-style: normal;
        width: 200px;
        height: 51px;

        position: absolute;
        left: 569px;
        top: 0;
    }

    .request-for-link_agreement{
        position: absolute;
        left: 50%;
        width: 285.6px;
        height: 18px;
        margin-left: -142.8px;
        bottom: -40px;
    }

    .request-for-link_agreement-label{
        width: 259px;
        height: 16.2px;
        left: 26.62px;
        top: 0;
        white-space: nowrap;
    }

    .request-for-link_agreement-checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background: #E3B873;
        border: none;
        color: #fff;
        outline: none;
        -webkit-border-radius: 2px;
    }
    
    .request-for-link_agreement-checkbox:checked::before {
        height: 18px;
        width: 18px;
        position: absolute;
        content: '✓';
        text-align: center;
    }
    
    .gold-line {
        position: absolute;
        width: 55px;
        height: 1.54px;
        top: 1344.5px;
        left: 50%;
        margin-left: -27.5px;
        background-color: #E3B873;
    }
    .measurement {
        position: absolute;
        top: 2643px;
        width: 100%;
        height: 2702.86px; 
    }

    .measurement_title {
        position: absolute;
        width: 257px;
        top: 0;
        left: 50%;
        margin-left: -128.5px;  
        color: #181818;   
    }

    .measurement_logo {
        position: absolute;
        width: 114px;
        height: 28px;
        top: 39px;
        left: 50%;
        margin-left: -57px;
    }

    .measurement_types-of-repair {
        position: absolute;
        width: 1236px;
        height: 608px;
        top: 98px;
        left: 50%;
        margin-left: -618px;
    }

    .flex{ 
        position: absolute; 
        width: 100%; 
        display: inline-flex;
        justify-content: space-between;
    }

    .measurement_types-of-repair_text_flex {
        top: 294px;
    }

    .measurement_types-of-repair_price_flex {
        top: 554px;
    }

    .measurement_types-of-repair_image{
        width: 392px;
        height: 421px;
    }

    .measurement_types-of-repair_text{
        width: 330px;
        height: 286px;
        margin: 0 31px;

        background: #FFFFFF;
    }

    .measurement_types-of-repair_price {
        width: 228px;
        height: 54px;
    
        padding: 0;
        font-size: 18px;
        line-height: 55px;
        margin-left: 31px;
        margin-right: 133px;
        white-space: nowrap;
    }
    
    .measurement_types-of-repair_text_bold {
        font-size: 18px;
        line-height: 25px;
        margin-left: 34px;
        margin-top: 25px;
        
        color: #363636;
    }
    
    .measurement_types-of-repair_text_regular {
        font-size: 13px;
        line-height: 27px;
        margin-left: 34px;
        margin-top: 13px;
        color: #959595;
    }
    
    .request-for-measurement {
        position: absolute;
        width: 1340px;
        height: 725.44px;
        top: 830px;
        left: 50%;
        margin-left: -720px;
    }
    
    .request-for-measurement_image {
        position: absolute;
        left: 0;
        top: 0;
        width: 702px;
        height: 645px;
    }
    
    .request-for-measurement_form {
        position: absolute;
        width: 506px;
        height: 509px;
        top: 106.16px;
        left: 833.82px;
        background: #131313;
    }
    
    .request-for-measurement_form-font {
        font-size: 14px;
        line-height: 23px;
    
        color: #FFFFFF;
    }
    
    .request-for-measurement_form-font.request-for-measurement_title{
        position: absolute;
        top: 28px;
        left: 105px;
        width: 297px;
        height: 47px;
        font-size: 18px; 
        line-height: 26px;
        text-align: center;
    }
    
    .request-for-measurement_pig-image {
        position: absolute;
        width: 73px;
        height: 73px;
        top: 653.44px;
        left: 865.94px;
        object-fit: cover;
    }
    
    .request-for-measurement_pig-text{
        position: absolute;
        width: 344px;
        height: 47px;
        top: 666.1px;
        left: 962.94px;
        font-size: 18px;
        line-height: 26px;
    
        color: #E3B873;
        text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    }
    
    .request-for-measurement_form_input {
        width: 408px;
        height: 244px;
    
        position: absolute;
        top: 114px;
        left: 49px;
    
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .request-for-measurement_form_box {
        width: 408px;
        height: 49px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
    
    .request-for-measurement_form_label {
        font-size: 13px;
        line-height: 21px;
        
        color: rgba(255, 255, 255, 0.5);
    }
    
    .request-for-measurement_form_text {
        font-size: 14px;
        line-height: 23px;
    
        outline: none;
        border: none;
        background: transparent;
        
        color: #FFFFFF;
    }
    
    .request-for-measurement_form_text::placeholder {
        color: #FFFFFF;
    }
    
    .gold_button.request-for-measurement_button {
        font-size: 13px;
        line-height: 21px;
    
        position: absolute;
        top: 439px;
        left: 244px;
        padding: 0;
        width: 213px;
        height: 51px;
    }
    
    .request-for-measurement_form_agreement {
        position: absolute;
        top: 382px;
        left: 49px;
    }
    
    .realize-fantasies {
        position: absolute;
        top: 1685px;
        width: 100%;
        height: 1017.86px;
    }    
    
    .realize-fantasies_background {
        position: absolute;
        top: 112.53px;
        width: 100%;
        height: 864px;
        background: url('../img/image 6.1.png');
        background-position: center center;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    
    .realize-fantasies_images {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -120px;
        width: 751px;
        height: 1017.74px;
        align-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
    }
    
    .realize-fantasies_images>:nth-child(1) {
        margin-top: 71.38px;
    }
    
    .realize-fantasies_images>:nth-child(2) {
        margin-top: 39.1px;
    }
    
    .realize-fantasies_images>:nth-child(4) {
        margin-top: 26.2px;
    }
    
    .realize-fantasies_types {
        position: absolute;
        width: 299px;
        height: 516px;
        top: 355px;
        left: 50%;
        margin-left: -620px;
        list-style-type: none;
    
        font-size: 20px;
        line-height: 24px;
    
        color: #FFFFFF;
    }
    
    .realize-fantasies_title {
        position: absolute;
        width: 411px;
        height: 66px;
        top: 242px;
        left: 50%;
        margin-left: -620px;
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;
        
        color: #E3B873;
    }
    
    .realize-fantasies_image-for-mobile {
        display: none;
    }

    .realize-fantasies_types>:nth-child(n):hover {
        text-decoration: underline;
        color: #E3B873;
    }
    
    .realize-fantasies_types>:nth-child(n) {
        margin-bottom: 25px;
    }
    
    .design-project_sizes_image {
        width: 392px;
        height: 421px;
    }
    
    .design-project {
        position: absolute;
        top: 5458.33px;
        width: 100%;
        height: 2519.96px;
    }

    .design-project_title {
        position: absolute;
        width: 257px;
        top: 0;
        left: 50%;
        margin-left: -128.5px;  
        color: #181818;   
    }

    .design-project_logo {
        position: absolute;
        width: 114px;
        height: 28px;
        top: 39px;
        left: 50%;
        margin-left: -57px;
    }

    .design-project_text-desktop{
        position: absolute;
        width: 763px;
        height: 57px;
        top: 91px;
        left: 50%;
        margin-left: -381.5px;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
    
        color: #363636;
    }

    .design-project_text-mobile {
        display: none;
    }

    .design-project_sizes_text_regular_mobile {
        display: none;
    }

    .design-project_text-mobile {
        display: none;
    }
    
    .design-project_sizes{
        top: 187px;
    }
    
    .design-project_sizes_size-number{
        width: 195px;
        height: 54px;
    
        padding: 0;
        font-size: 18px;
        text-align: start;
        padding-left: 33px;
        line-height: 55px;
        margin-left: 31px;
        margin-right: 133px;
        white-space: nowrap;
    }

    .button-next {
        display: none;
    }

    .design-project_sizes_text_flex {
        position: absolute;
        top: 264px;
    }

    .design-project_sizes_text_flex>:nth-child(1) {
        height: 211px;
    }

    .design-project_sizes_text_flex>:nth-child(2) {
        height: 286px;
    }

    .design-project_sizes_text_flex>:nth-child(3) {
        height: 414px;
    }

    .design-project_sizes_size_flex>:nth-child(1) {
        top: 447.5px;
        position: relative;
    }
    
    .design-project_sizes_size_flex>:nth-child(2) {
        top: 521.11px;
        position: relative;
    }
    
    .design-project_sizes_size_flex>:nth-child(3) {
        top: 651.11px;
        position: relative;
    }
    
    .design-project_background{
        position: absolute;
        width: 100%;
        height: 1815px;
        top: 342.5px;
        z-index: -1;
    }
    
    .working-process {
        position: absolute;
        top: 895px;
        left: 50%;
        margin-left: -619.355px; 
        width: 1238.71px;
        height: 686px; 
    }
    
    .working-process-description {
        position: absolute;
        top: 0;
        left: 0;
        width: 337px;
        height: 515px; 
    }
    
    .working-process-description_intro-small {
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 18px;
    
        color: #FFFFFF;
    }
    
    .working-process-description_intro-big {
        font-size: 27px;
        text-transform: uppercase;
    
        color: #E3B873;
    }
    
    .working-process-description_intro {
        position: absolute;
        top: 0;
        left: 0;
        width: 304px;
        height: 100px;
    }
    
    .working-process-description_page {
        position: absolute;
        top: 192px;
        left: 0;
        width: 34px;
        height: 21px;
    
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
    
    .working-process-description_title{
        position: absolute;
        top: 235px;
        left: 0;
        width: 262px;
        height: 42px;
        font-size: 15px;
        line-height: 23px;
        text-transform: uppercase;
    
        color: #E3B873;
    }
    
    .working-process-description_text {
        position: absolute;
        top: 293px;
        left: 0;
        width: 337px;
        height: 222px;
    
        font-size: 13px;
        line-height: 25px;
    
        color: #FFFFFF;
    }
    
    .working-process_bar {
        position: absolute;
        top: 576px;
        left: 0;
        width: 287px;
        height: 13.28px; 
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #working-process_bar_circle {
        color: #5A5A5A;
        line-height: 13.28px;
        width: 145.09px;
        display: inline-flex;
        justify-content: space-between;
    }

    #working-process_bar_circle li{
        width: 9.57px;
        height: 9.57px;
        list-style-type: none;
    }

    #working-process_bar_circle>:nth-child(1) {
        color: #FFFFFF;
    }
    
    .working-process_image {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 376.64px;
        width: 765px;
    }
    
    .working-process_points{
        position: absolute;
        top: 87px;
        right: 0;
        width: 765.71px;
        height: 178.03px; 
        display: flex;
        color: rgb(90,90,90);
        justify-content: flex-start;
        align-content: space-between;
        flex-wrap: wrap;
    }
    
    .working-process_points>:nth-child(1) {
        color: #FFFFFF;
    }
    
    .working-process_points>:nth-child(3n) {
        width: 100px;
    }
    
    .working-process_points_text {
        width: 332.5px;
        height: 71px;
        font-size: 13px;
        line-height: 19px;
    }
    
    .working-process_points_number {
        margin-bottom: 17px;
        font-size: 15px;
        line-height: 21px;
        text-transform: uppercase;
        text-decoration: underline  rgb(50,43,33);
    }
    
    .our-team {
        position: absolute;
        width: 558px;
        height: 843.81px;
        left: 50%;
        margin-left: -279px;
        top: 1676.15px;
    }
    
    .our-team_title {
        position: absolute;
        width: 257px;
        height: 26px;
        left: 150px;
        
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
    
        color: #FFFFFF;
    
    }
    
    .our-team_logo {
        position: absolute;
        width: 114px;
        height: 29px;
        left: 222px;
        top: 36.53px;
    }
    
    .our-team_text-1 {
        position: absolute;
        width: 476px;
        height: 57px;
        left: 41px;
        top: 91px;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        
        color: #FFFFFF;
    }
    
    .our-team_text-2 {
        position: absolute;
        width: 558px;
        height: 136px;
        left: 0;
        bottom:0;
        font-size: 18px;
        line-height: 37px;
        text-align: center;
    
        color: #363636;
    }
    
    .our-team_members {
        position: absolute;
        width: 1063.24px;
        height: 504px;
        top: 186.53px;
        left: -270px;
    }
    
    .our-team_members_image {
        width: 272.24px;
        height: 357.63px;
        margin-left: 35px;
    }
    
    .our-team_members_images_flex {
        position: absolute;
        top: 35px;
    }

    .our-team_members_text_flex {
        position: absolute;
        top: 312px;
    }

    .our-team_members_logo {
        margin-right: 237px;
        width: 70px;
        height: 70px;
    }
    
    .our-team_members_text{
        width: 233px;
        height: 137px;
        margin-left: 55px;
        margin-right: 20.2px;
    
        background: #FFFFFF;
    }
    
    .our-team_members_text_bold {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        width: 192px;
        height: 21px;
    
        color: #181818;
        margin: 22px 21px 19px 20px;
    }
    
    .our-team_members_text_regular {
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        margin: 0 23px;
        width: 187px;
        height: 17px;
        
        color: #959595;
    }
    
    .our-team_members_experience{
        width: 233px;
        height: 31px;
    
        position: absolute;
        bottom: 0;
        padding: 13px 0 0 0;
    
        font-size: 13px;
        line-height: 20px;
    
        color: #FFFFFF;
    }
    
    .our-clients {
        position: absolute;
        top: 2608.55px;
        width: 100%;
        height: 2083.55px;
    }
    
    .our-clients_background {
        position: absolute;
        width: 100%;
        top: 996.65px;
        height: 953.9px;
        background: url('../img/image 7.2.png');
        z-index: -1;
        background-position: center center;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .our-clients_background-overlay {
        width: 100%;
        height: 100%;
        background: rgba(24, 24, 24, 0.9);
        z-index: -1;
    }
    
    .our-clients_reviews_title {
        position: absolute;
        top: 0;
        left: 50%;
        width: 257px;
        height: 26px;
        margin-left: -128.5px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
    
        color: #181818;
    }
    
    .our-clients_reviews_logo {
        position: absolute;
        top: 39.22px;
        left: 50%;
        width: 114px;
        height: 27.62px;
        margin-left: -57px;
    }
    
    .our-clients_reviews_intro {
        position: absolute;
        top: 91px;
        left: 50%;
        width: 476px;
        height: 57px;
        margin-left: -238px;    
    
        font-size: 18px;
        line-height: 29px;
        text-align: center;
    
        color: #363636;
    }
    
    .our-clients_reviews_orders {
        position: absolute;
        top: 187px;
        left: 50%;
        width: 1236px;
        height: 455.3px;
        margin-left: -618px;
    }
    
    .our-clients_reviews_orders_text {
        width: 376px;
        height: 428px;
        background: #FFFFFF;
    }
    
    .our-clients_reviews_orders_text_bold {
        font-size: 18px;
        line-height: 23px;
        color: #181818;
        width: 178px;
        height: 42px;
    
        position: absolute;
        top: 41px;
        margin-left: 119px;
    }
    
    .our-clients_reviews_orders_text_regular {
        font-size: 13px;
        line-height: 23px;
        color: #959595;
        width: 324.08px;
        height: 216px;
        white-space: nowrap;
    
        position: absolute;
        top: 122px;
        margin-left: 20px;
    }
    
    .our-clients_reviews_orders_text_portrait {
        width: 76px;
        height: 76px;
    
        position: absolute;
        top: 24px;
        margin-left: 20px;
    }
    
    .our-clients_reviews_orders_text_order {
        width: 293.75px;
        height: 54px;
    
        position: absolute;
        top: 401px;
        padding: 0;
    
        font-size: 17px;
        line-height: 24px;
    
        color: #FFFFFF;
    }
    
    .our-clients_reviews_orders_text_order>:nth-child(1) {
        position: absolute;
        left: 17.36px;
        margin-top: 11px;
    
        width: 32.34px;
        height: 31.34px;
    }
    
    .our-clients_reviews_orders_text_order>:nth-child(2) {
        position: absolute;
        left: 65.1px;
        margin-top: 15px;
    
        width: 56px;
        height: 19.48px;
    }
    
    .our-clients_reviews_orders_text_order>:nth-child(3) {
        position: absolute;
        left: 152.35px;
        margin-top: 11px;
    
        width: 32.77px;
        height: 31.33px;
    }
    
    .our-clients_reviews_orders_text_order>:nth-child(4) {
        position: absolute;
        left: 200.15px;
        margin-top: 15px;
    
        width: 81.43px;
        height: 19.48px;
    }
    
    .our-clients_reviews_orders_text_order>:nth-child(5) {
        position: absolute;
        left: 135.09px;
    }
    
    .map {
        position: absolute;
        left: 50%;
        margin-left: -462.5px;
        bottom: 199.93px;
    
        width: 925px;
        height: 465px;
    }
    
    .contact-form {
        position: absolute;
        left: 50%;
        margin-left: -441.5px;
        bottom: 864.24px;
    
        width: 883px;
        height: 445.32px;
    
        background-image: url('../img/Group 20.1.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .contacts-mobile {
        display: none;
    }
    
    .contacts-desktop {
        position: absolute;
        left: 50%;
        margin-left: -294.5px;
        bottom: 612.9px;
    
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        
        color: #E3B873;
    
        width: 589px;
        height: 199.33px;
    }
    
    .contacts-desktop>:nth-child(2) {
        margin-top: 26px;
        margin-right: 15px;
    }
    
    .contact-form_title {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        
        color: #FFFFFF;
    
        position: absolute;
        top: 34.4px;
        left: 313px;
        width: 257px;
        height: 26px;
    }
    
    .contact-form_input {
        width: 520px;
        height: 138.8px;
    
        position: absolute;
        top: 106.2px;
        left: 181.5px;
    
        display: inline-flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    
    .contact-form_input_box {
        width: 231px;
        height: 45px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
    
    .contact-form_question-box {
        width: 516.82px;
    }
    
    .contact-form_agreement {
        position: absolute;
        top: 291.46px;
        left: 298.69px;
    }
    
    .contact-form_button {
        font-size: 13px;
        line-height: 27px;
    
        position: absolute;
        top: 359.92px;
        left: 341.5px;
        padding: 0;
        width: 200px;
        height: 51px;
        text-transform: uppercase;
    }
}
